<!DOCTYPE html>
<html>
 <head>
    <script src="js/main.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    {% include "adminheader.html" %}
    
    <div class="white">

    {% if session.admin %}
      This page hasn't been made yet.  Yell at Lis, she's terrible!  Or buy her treats, then maybe she'll work harder.... <br>
    {% else %}
      Please {{ session.logintext }} to register or log a visit.
    {% endif %}

    {% include "standardfooter.html" %}
    
    </div>

  </body>
</html>