<!DOCTYPE html>
<html>
 <head>
    <script src="js/main.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    {% include "standardheader.html" %}
    
    <div class="white">

    {% if session.admin %}
      You are logged in as an administrator <br><br>
      {% include "adminhomeinnards.html" %}
      <br><br>
      
    {% elif session.user %}
      Welcome to Family Strengths Network. <br><br>
    {% else %}
      Please {{ session.logintext }} to register or log a visit. <br><br>
    {% endif %}
    
    <strong>THIS WEEK'S EVENTS</strong>
    <table id="visitlist" class="eventlist">
      <tr>
		    <th class="datasheet">Event</th>
		    <th class="datasheet">Name</th>
	      <th class="datasheet">Date</th>
	      <th class="datasheet">Time</th>
      </tr>
      {% for event in events %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
          <td>
            {{ event.name }}
          </td>
          <td>
            {% for instance in event.instances %}
              {% for session in event.sessions %}
                {% if session.id == instance.sessionid %}
                  {% if session.cancel %}
                    CANCELLED  
                  {% endif %}
                  {% if session.name %}
                    {{ session.name }}  
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if instance.cancel %}
                CANCELLED  
              {% endif %}
              {{ instance.name }}<br>
            {% endfor %}
          </td>
          <td>
            {% for instance in event.instances %}
              {{ instance.date }}<br>
            {% endfor %}
          </td>
          <td>
            {% for instance in event.instances %}
              {{ instance.starttime }} - {{ instance.endtime }}<br>
            {% endfor %}
          </td>
       </tr>
      {% endfor %}
    </table>
  


    {% include "standardfooter.html" %}
    
    </div>

  </body>
</html>